/* Main body styling */
body {
  font-family: "Roboto", sans-serif;
  background-color: #073642; /* Dark background for contrast */
  color: #f0f0f0;
  margin: 0;
  display: flex;
  justify-content: center; /* Center contents horizontally */
  align-items: center; /* Center contents vertically */
  height: 100vh; /* Full viewport height */
}

/* Main container for the authentication components */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #002b36; /* Background color for the container */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8); /* Shadow for depth */
  padding: 40px; /* Space around the container */
  max-width: 400px; /* Maximum width for responsiveness */
  width: 100%; /* Full width within the max-width */
}

/* Title styling */
.auth-title {
  font-size: 2rem; /* Large title size */
  margin-bottom: 20px; /* Space below title */
  color: #f0f0f0;
  text-align: center; /* Center text */
}

/* Form styling */
.auth-form {
  width: 100%; /* Full width within the container */
}

/* Input group styling */
.input-group {
  width: 100%; /* Full width for input group */
  margin-bottom: 20px; /* Space between input fields */
}

/* Input field styling */
.input-field {
  justify-content: center; /* Center the input fields */
  width: 90%; /* Full width for inputs */
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #1e1e1e; /* Input background */
  color: #f0f0f0; /* Input text color */
  border: 2px solid #444; /* Border color */
  transition: border-color 0.3s;
  text-align: center; /* Center the text in the input fields */
}

.input-field:focus {
  border-color: #f0f0f0; /* Highlight border on focus */
}

/* Button styling */
.auth-button {
  width: 65%; /* Full width for buttons */
  padding: 12px;
  background-color: #094554; /* Primary button color */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8); /* Shadow for depth */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold; /* Bold text for button */
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none; /* Remove outline on focus */
}

.auth-button:hover {
  background-color: #62767b; /* Darker on hover */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8); /* Shadow for depth */
}
.auth-button:focus {
  outline: none; /* Remove outline on focus */
}

/* Switch button styling */
.switch-button {
  width: 45%; /* Full width for buttons */
  padding: 12px;
  background-color: #094554; /* Primary button color */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8); /* Shadow for depth */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  text-decoration: underline;
  font-weight: bold; /* Bold text for button */
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px; /* Space above the button */
  outline: none; /* Remove outline on focus */
}

.switch-button:hover {
  background-color: #62767b; /* Darker on hover */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8); /* Shadow for depth */
  color: #f0f0f0; /* Change color on hover */
}

.switch-button:focus {
  outline: none; /* Remove outline on focus */
}

/* Message styling */
.auth-message {
  margin-top: 20px;
  color: #f57145; /* Color for messages */
  font-size: 1rem;
  text-align: center;
  font-weight: bold; /* Emphasize message */
}
